$color-primary: #00B5CC;
$color-secondary: #ffd829;
$color-black: #212121;
$color-white: #FFFFFF;
$color-gray: #f1f1f1;

$font-primary: 'Montserrat', sans-serif;

$breakpoint-sm: 600px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1432px;
